<style>
        body {
            font-family: Arial, sans-serif;
            background: #e8dcd1;
            margin: 0;
        }
nav {
    background: #e8dcd1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 15px 0;
}

nav a {
    margin: 0 50px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

nav a:hover {
    color: #555;
}

        .container {
            width: 85%;
            margin: auto;
            padding: 20px;
            display: flex;
            gap: 50px;
        }

        .left-logo {
            width: 280px;
            text-align: center;
        }

        .left-logo img {
            width: 200px;
        }

        h1 {
            text-align: center;
            letter-spacing: 3px;
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input, select {
            width: 300px;
            padding: 8px;
            border-radius: 10px;
            border: 1px solid #888;
            margin-bottom: 10px;
        }

        .row {
            display: flex;
            gap: 40px;
        }

        .file-box {
            width: 350px;
            height: 200px;
            border: 3px solid black;
            border-radius: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background: white;
        }

        button {
            margin-top: 30px;
            padding: 12px 25px;
            font-size: 16px;
            border: 2px solid black;
            background: #f3eddb;
            cursor: pointer;
        }

        footer {
            text-align: center;
            margin-top: 40px;
            font-weight: bold;
            letter-spacing: 2px;
        }

        .right-section {
            flex: 1;
        }
    </style>
</head>
